body {
    background-color: #f0f0f0; /
}
html{font-size: 10px;}
h1{ font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;font-size: 4rem;}
h2{color: rgb(184, 122, 29);
font-size: 2rem;font-weight:900;}
h3{color: rgb(200, 164, 109);font-size: 2rem;}
h4{color: blanchedalmond;font-size: 2rem;}
p{color: rgb(150, 149, 149);font-size: 2rem;}
li{color: rgb(139, 136, 136);font-size: 2rem;text-align: left;}
a{color: rebeccapurple;font-size: 2rem;}
.blacktext{color: rgb(99, 97, 97);}
*{font-family: sans-serif;text-align:center;}
#contact{border: 10px solid rgb(216, 216, 216); padding: 40px;margin: 60px 0px;background-color: rgb(233, 233, 233);}
.profilo{border: 10px solid rgb(216, 216, 216); padding: 50px;margin: 60px 0px;background-color: rgb(233, 233, 233);}
